# Ignore the metadata folder... this is my eclipse workspace..
.metadata/

# Maven build directories
/target/
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties

# Eclipse files
.classpath
.project
.settings/

# IntelliJ IDEA files
*.iml
.idea/
out/
*.class

# Gradle files (if applicable)
.gradle/
build/

# Other files
*.log
*.tmp
*.swp
*.bak
*~
.DS_Store

# Local configuration files
*.local

# Java files
*.class
*.jar

# Maven specific files
mvnw
mvnw.cmd

# Operating System files
Thumbs.db
ehthumbs.db
Icon?
Desktop.ini

