.label{
    -fx-font-family: Arial, Helvetica, sans-serif;
    -fx-text-fill: rgb(255, 255, 255);
    -fx-background-color: black;
}

#stats{
    -fx-font-family: Arial, Helvetica, sans-serif;
    -fx-font-size: 20;
    -fx-text-fill: rgb(255, 255, 255);
    -fx-background-color: black;
}

.button{
    -fx-font-family: Arial, Helvetica, sans-serif;
    -fx-font-weight: bold;
	-fx-background-color: rgb(255, 255, 255);
	-fx-text-fill: black;
	-fx-background-radius: 0;
}

#background {
    -fx-background-image: url("stars.png");
    -fx-background-size: 25% 25%;
    -fx-background-position: center center;
}

#background2 {
    -fx-background-color: rgba(100, 100, 255, 0.5);
}
 