/*
CSS file for the JavaFX elements to stylize it.

@author Caleb Kiessling
*/

.label{
    -fx-font-family: Arial, Helvetica, sans-serif;
    -fx-text-fill: rgb(255, 255, 255);
    -fx-background-color: black;
}

#stats{
    -fx-font-family: Arial, Helvetica, sans-serif;
    -fx-font-size: 20;
    -fx-text-fill: rgb(255, 255, 255);
    -fx-background-color: black;
}


/*
Generic button
*/
.button{
    -fx-font-family: Arial, Helvetica, sans-serif;
    -fx-font-weight: bold;
	-fx-background-color: rgb(255, 255, 255);
	-fx-text-fill: black;
	-fx-background-radius: 0;
}

/*

Generic background style

*/
#background {
    -fx-background-image: url("stars.png");
    -fx-background-size: 25% 25%;
    -fx-background-position: center center;
  }